
.header-page{
	width: 100%;
	height: 300px;
	background-color: rgb(244,127,85);
	margin-bottom: 2em;

}

.header-title{
	font-family:'chevinextrabold';
	color: #fff;
	text-align: center;
	padding-top: 4.3em;
	font-size: 32px;
}

/* EQUIPA */

.equipa h4{
	margin-top:0px;
	margin-bottom: 1em;
	border-bottom: 2px solid rgb(244,127,85);

}



/* EDIÇÕES ANTERIORES */


.intro-edicoes{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	margin-top: 4em;
}

.intro-edicoes{
	text-align: center;
	font-size: 18px;
	line-height: 1.3em;
}

.edicoes{
	padding: 3em 0px;
	padding-bottom: 6em;
}

.edicoes figure{
	width: 70%;
	margin: 0 auto;
	background-color: #000;
	padding: 5em;
	color: #fff;
}

.edicao-2013 {
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 4em;
}

.edicao:hover{
	opacity: .8;
}

.text-ano{
	font-size: 30px!important;
}


.edicao-2014{
	background: url('../img/img-2014.jpg') no-repeat center center;
	background-size: cover;
}

.cd-video{
	margin: 4em 0px;
}

.projeto-14{
	margin: 20px 10px;
	border-bottom: 2px solid #000;
}

.projeto-14 h3{
	color: #000;
}

.projeto-14 h4{
	color: #000;
}


/* IMPRENSA */

.imprensa-item{
	border:4px solid #f47f55;
	text-align: center;
	padding: 1.5em;
	margin: 3em 0px;
	-webkit-transition: 0.4s;
  	-moz-transition: 0.4s;
  	transition: 0.4s;
  	border-radius: 5px;
}

.imprensa-item:hover{
	background-color: #f47f55;
	color: white!important;
}

.imprensa-item p{
	font-weight: 500;
	text-align: center;
}

.imprensa-item h3:hover{
	color: #fff;
}


/* EDIÇÃO */

.edicao img{
	width: 100%;
}


.sobre-edicao p{
  line-height: 1.4em;
  font-size: 18px;
  letter-spacing:.3px;

}

.sobre-edicao h3{
  margin: 10px 0px;
  padding: 8px 0px;
  font-size: 22px;
  font-weight: 600;
}

.links-edicao a{
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #fff100;
  padding-bottom: 2px;
  line-height: 40px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.links-edicao a:hover{
  background-color: #fff100;
  color: #000;
  padding:2px 8px;
}

.embed-container iframe, .embed-container object{
	margin-top: 4em;
}

#projetos-2014{
	min-height: 100%;
}



@media only screen and (max-width: 768px) {



	.header-page{
		height: 180px;
	}

	.header-title{
	padding-top: 2.6em;
}

	.intro-edicoes{
		width: 100%;
	}

	.edicoes figure{
		width: 100%;
	}
  }